{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1 style="text-align: center;">CpSearch</h1>

<!--
<form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" style="width: 90%;">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">SEARCH</button>
</form>
-->
<div>
		{{ wtf.quick_form(form, form_type="horizontal inline") }}
</div>


<br>
<hr>
<br>

<div>
<div>
	{% if problems %}
	{% for problem in problems %}
	<div class="container">{{ problem.name }}</div><br>
	{% endfor %}
	{% endif %}
</div>
</div>

{% endblock %}