{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}
		{{ title }} - A20J
	{% else %}
		Welcome to A2OJ
	{% endif %}
{% endblock %}

{% block navbar %}
	 <nav class="navbar navbar-inverse" style="width: 100%;">
	 	<div class="container-fluid">
	 	<ul class="nav navbar-nav col-lg-5">
			<li> <a href="{{ url_for('home') }}">HOME</a> </li>
			{% if not current_user.is_anonymous %}
			<li><a href="{{ url_for('user',username=current_user.username) }}" class="nav-item nav-link px-3">PROFILE</a></li>
			<li><a href="{{ url_for('marked_problems',username=current_user.username) }}" class="nav-item nav-link px-3">MARKED PROBLEMS</a></li>
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if not current_user.is_anonymous %}
			<li><a href="{{ url_for('logout') }}">LOG OUT</a></li>
			{% else %}
			<li> <a href="{{ url_for('login') }}" class="nav-item nav-link px-3">LOGIN</a> </li>
			<li> <a href="{{ url_for('register') }}" class="nav-item nav-link px-3">REGISTER</a> </li>
			{% endif %}
		</ul>
	</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div>{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}

		{% block app_content %}{% endblock %}
	</div>
{% endblock %}